# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Outils
.pytest_cache/
.hypothesis/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Éditeurs / OS
.idea/
.vscode/
.DS_Store
